################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/TraitementCsv/TraitementCsv.sln
/TraitementCsv/.vs/TraitementCsv/v15/.suo
/TraitementCsv/TraitementCsv/TraitementCsv.vcxproj
/TraitementCsv/TraitementCsv/TraitementCsv.vcxproj.user
/TraitementCsv/TraitementCsv/TraitementCsv.vcxproj.filters
/TraitementCsv/Debug
/TraitementCsv/TraitementCsv/Debug/TraitementCsv.tlog
/TraitementCsv/TraitementCsv/Debug
/TraitementCsv/TraitementCsv/TraitementCsv.aps
